---
import Bento from '@/components/Bento/Bento.astro'
---

<section class="pt-20 lg:pt-30 pb-20 lg:pb-30">
  <h2 class="font-semibold subtitle">Projects That Drive Business</h2>
  <Bento />
</section>
